<h1 [ngStyle]="{'background-color' : 'red'}">{{name}}</h1>
<p>{{Car}}</p>
<label>How Are you Traveling?</label><br>
<input type="text" id="Travel" [(ngModel)] = "Car" >
<p *ngIf="Car === 'Car'; then t1 else t2"></p>
<ng-template #t1><p>30 minute commute by car</p></ng-template>
<ng-template #t2><p>Bus and Train-1 hour commute</p></ng-template>
<div *ngFor="let x of Transport;">
    <input type="button" (click)='setText(x.type)' value="{{x.type}}" />
</div>
<ul>
    <li *ngFor="let x of Buses; let i = index;">
        Route Number: {{x.route}} Depart: {{x.leave}} Arrive: {{x.arrive}}
    </li>
</ul>